Jinja2==2.8
Logbook==0.10.1
Mako==1.0.2
Markdown==2.6.2
MarkupSafe==0.23
Nikola==7.7.1
Pillow==2.9.0
PyRSS2Gen==1.1
PyYAML==3.11
Pygments==2.0.2
Pyphen==0.9.1
Unidecode==0.04.18
Yapsy==1.11.223
argh==0.26.1
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
blinker==1.4
certifi==2015.9.6.2
cloudpickle==0.1.1
configparser==3.3.0.post2
decorator==4.0.2
docutils==0.12
doit==0.29.0
functools32==3.2.3.post2
ghp-import==0.4.1
husl==4.0.2
ipykernel==4.0.3
ipython==4.0.0
ipython-genutils==0.1.0
jsonschema==2.5.1
jupyter-client==4.0.0
jupyter-core==4.0.6
lxml==3.4.4
micawber==0.3.3
mistune==0.7.1
natsort==4.0.3
nbconvert==4.0.0
nbformat==4.0.0
notebook==5.7.8
path.py==8.1.1
pathtools==0.1.2
pexpect==3.3
phpserialize==1.3
pickleshare==0.5
pygal==2.0.6
pyinotify==0.9.6
python-dateutil==2.4.2
pyzmq==14.7.0
requests==2.7.0
simplegeneric==0.8.1
six==1.9.0
smartypants==1.8.6
tornado==4.2.1
traitlets==4.0.0
typogrify==2.0.7
watchdog==0.8.3
webassets==0.11.1
ws4py==0.3.4
wsgiref==0.1.2
