## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_header()">
    <header id="header">
        ${html_site_title()}
        <!--${html_translation_header()}-->
        %if search_form:
            <div class="searchform" role="search">
                ${search_form}
            </div>
        %endif
    </header>
    ${template_hooks['page_header']()}
    ${html_navigation_links()}
</%def>

<%def name="html_site_title()">
    <div class="logo container">
        <div>
            <h1><a href="${abs_link(_link("root", None, lang))}" title="${blog_title|h}" rel="home" id="logo">GISCE-TI, S.L.</a></h1>

            %if logo_url:
                <!--<img src="${logo_url}" alt="${blog_title|h}">-->
            %endif
            % if show_blog_title:
                <p id="blog-title">${blog_title|h}</p>
            % endif
        </div>
    </div>
</%def>

<%def name="html_navigation_links()">
    <nav id="nav">
        <ul>
        %for url, text in navigation_links[lang]:
            % if isinstance(url, tuple):
            <li><a href="#">${text|h}</a>
                <ul>
                %for suburl, text in url:
                    % if rel_link(permalink, suburl) == "#":
                    <li class="current"><a href="${permalink}">${text|h}</a></li>
                    %else:
                    <li><a href="${suburl}">${text|h}</a></li>
                    %endif
                %endfor
                </ul>
            </li>
            %else:
                % if rel_link(permalink, url) == "#":
                <li class="current"><a href="${permalink}">${text|h}</a></li>
                %else:
                <li><a href="${url}">${text|h}</a></li>
                %endif
            % endif
        %endfor
        </ul>
    </nav>
    ${template_hooks['menu']()}
    ${template_hooks['menu_alt']()}
</%def>

<%def name="html_translation_header()">
    %if len(translations) > 1:
        <div id="toptranslations">
            <h2>${messages("Languages:")}</h2>
            ${base.html_translations()}
        </div>
    %endif
</%def>
