## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_header()">
    <header id="header">
        ${html_site_title()}
        <!--${html_translation_header()}-->
        %if search_form:
            <div class="searchform" role="search">
                ${search_form}
            </div>
        %endif
        <!--
        <div id="banner-wrapper">
            <section id="banner">
                <h2>Welcome to TXT by HTML5 UP</h2>
                <p>A free responsive site template built on HTML5, CSS3, skel, and some other stuff</p>
                <a href="#" class="button">Alright let's go</a>
            </section>
        </div>
        -->
    </header>
    ${template_hooks['page_header']()}
</%def>

<%def name="html_site_title()">
    <div class="logo container">
        <div>
            %if logo_url:
                <img src="${logo_url}" alt="${blog_title|h}" class="logo_image">
            %endif
            <h1><a href="${abs_link(_link("root", None, lang))}" title="${blog_title|h}" rel="home" id="logo">GISCE-TI, S.L.</a></h1>

            % if show_blog_title:
                <p id="blog-title">${blog_title|h}</p>
            % endif
            <header>
                <h2>Cobrim totes les necessitats del sector elèctric</h2>
                <p class="txt-head">El principal objectiu de GISCE-TI és el desenvolupament de programari
                  que proporcioni solució a les seves necessitats de gestió i integrar les seves diverses utilitats d'una manera que puguin retroalimentar i facilitar així el seu treball.</p>
                <!--<p>And some text that attempts to explain their significance</p>-->
            </header>
        </div>
    </div>
</%def>

<%def name="html_navigation_links()">
    <h2>${permalink}</h2>
    <nav id="nav">
        <ul>
        %for url, text in navigation_links[lang]:
            <% current_class = "" %>
            % if isinstance(url, tuple):
                %for x, j in url:
                    %if not rel_link(permalink, x):
                        <% current_class = "current" %>
                    %endif
                %endfor
            <li class="${current_class}"><a href="#">${text|h}</a>
                <ul>
                %for suburl, text in url:
                    <li><a href="${suburl}">${text|h}</a></li>
                %endfor
                </ul>
            </li>
            %else:
                % if rel_link(permalink, url) == "#":
                <li class="current"><a href="${permalink}">${text|h}</a></li>
                %else:
                <li><a href="${url}">${text|h}</a></li>
                %endif
            % endif
        %endfor
        </ul>
    </nav>
    ${template_hooks['menu']()}
    ${template_hooks['menu_alt']()}
</%def>

<%def name="html_translation_header()">
    %if len(translations) > 1:
        <div id="toptranslations">
            <h2>${messages("Languages:")}</h2>
            ${base.html_translations()}
        </div>
    %endif
</%def>
