## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="pheader" file="post_header.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="header" file="base_header.tmpl" import="*"/>
<%inherit file="post.tmpl"/>

<%block name="page_header">
    ${header.html_header()}
</%block>

<%block name="content">
    ${pheader.html_title()}
    <div class="entry-text">
        ${post.text()}
    </div>
</%block>
